@model GlimpseDemo.Models.Home.IndexModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Glimpse Demo</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Glimpse.axd?r=Pager&resource=Pager")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.6.3.min.js")" type="text/javascript"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="sidebar">
            @Html.ActionLink("MVC", "Index")
        </div>
        <div class="content">
            <h2>Glimpse MVC Demo</h2>

        @using (Html.BeginForm("Index", "Home")) {
            <fieldset>
                <p>
                    @Html.DropDownListFor(m => m.ExceptionTypeToThrow, new SelectList(Model.ExceptionTypes, "FullName", "Name"))
                </p>
            </fieldset>

            <br />

            <input type="submit" value="Throw" />
        }
        </div>
    </div>
</body>
</html>
